footer.footer {
    .container {
        .title-2 {
            display: flex;
            justify-content: center;
            font-size: 1.4rem;
            padding: 1.5rem 0;

            position: relative;

            &:before{
                content: '';

                width: 100vw;
                height: 1px;

                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;

                background: #B7B7B7;
            }
        }
        .wrap {
            margin: 7rem 0;
            .head {
                display: flex;
                align-items: center;
                padding-bottom: 3rem;
                .title {
                    @include ff(psb);
                    font-size: 2.2rem;
                    padding-left: 1rem;
                }
            }
           .content {
               display: flex;
               justify-content: space-between;
               .nav {
                   display: flex;
                   flex-direction: column;
                   .link {
                       font-size: 1.6rem;
                       padding-bottom: 1.5rem;
                   }
               }
               .buttons {
                   .title {
                       @include ff(psbi);
                       font-size: 1.6rem;
                   }
                   .store-buttons {
                       display: flex;
                       flex-direction: column;
                       width: max-content;
                       align-items: center;
                       padding-bottom: 4rem;
                       a {
                           margin-top: 1.5rem;
                       }
                       .store-btn {
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           width: 100%;
                           font-size: 1.8rem;
                           padding: 0.7rem 2rem;
                           border: 1px solid $red;
                           border-radius: 25px;
                           img{
                               width: 2.3rem;
                               margin-right: 1rem;
                           }
                           span{
                               span{
                                   display: block;
                                   font-size: 1.1rem;
                               }
                           }
                       }
                   }
               }
               .socials {
                    .email {
                        margin-bottom: 3.7rem;
                        span {
                            @include ff(psb);
                            font-size: 1.6rem;
                        }

                        a {
                            font-size: 1.6rem;
                            padding-left: 1.8rem;
                        }
                    }
                   .social-medias {
                       width: max-content;
                       .title {
                           @include ff(psb);
                           font-size: 1.6rem;
                       }
                        .socials-nav {
                            display: flex;
                            flex-direction: row;
                            padding-top: 1rem;
                            justify-content: space-around;
                        }
                   }
               }
               .payment {
                   .title {
                       @include ff(psb);
                       font-size: 1.6rem;
                   }
               }
           }
        }
    }
}
