@font-face {
    font-family: 'ProximaNova-BoldIt';
    src: url('/f/ProximaNova-BoldIt.woff2') format('woff2'),
    url('/f/ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src: url('/f/ProximaNova-Black.woff2') format('woff2'),
    url('/f/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-BlackIt';
    src: url('/f/ProximaNova-BlackIt.woff2') format('woff2'),
    url('/f/ProximaNova-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-BoldProximaNova-Bold';
    src: url('/f/ProximaNova-Bold.woff2') format('woff2'),
    url('/f/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Extrabld';
    src: url('/f/ProximaNova-Extrabld.woff2') format('woff2'),
    url('/f/ProximaNova-Extrabld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/f/ProximaNova-Regular.woff2') format('woff2'),
    url('/f/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-SemiboldIt';
    src: url('/f/ProximaNova-SemiboldIt.woff2') format('woff2'),
    url('/f/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-ThinIt';
    src: url('/f/ProximaNova-ThinIt.woff2') format('woff2'),
    url('/f/ProximaNova-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('/f/ProximaNova-Semibold.woff2') format('woff2'),
    url('/f/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-LightIt';
    src: url('/f/ProximaNova-LightIt.woff2') format('woff2'),
    url('/f/ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/f/ProximaNova-Light.woff2') format('woff2'),
    url('/f/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNovaT-Thin';
    src: url('/f/ProximaNovaT-Thin.woff2') format('woff2'),
    url('/f/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

